* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.10);
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

/* --------- hero --------*/

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 500px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0px;
    max-width: 345px;
}

/* --------- grid-container --------*/

.grid-container {
    display: grid;
    /* Two columns with equal width */
    /* grid-template-columns: repeat(4, 1fr); */

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    /* Two rows with equal height */
    /* grid-template-rows: repeat(2, 1fr); */
    /* Adjust the gap between components as needed */ 
    gap: 15px;
    
    /* Set the height of the grid container to 100% of the viewport height */  
    /* height: 100vh;  */
}

/* --------- card --------*/

.card {
    margin-left: 20px;
    font-size: 12px;
}

.card--image {
    max-width: 220px;
    border-radius: 15px;
}

.card--rating--icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.card--title {
    margin-top: 10px;
    max-width: 220px;
    font-weight: bold;
    background-color: burlywood;
}

.card--rating {
    display: flex;
    align-items: center;
    height: 20px;
    max-width: 220px;
    margin-top: 10px;
    background-color: pink;
}

.card--details {
    display: flex;
    align-items: center;
    height: 20px;
    max-width: 220px;
    color: gray;
    /* background-color: pink; */
}

.card--price {
    display: flex;
    align-items: center;
    height: 20px;
    max-width: 220px;
    color: gray;
    background-color: pink;
}